<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MonitorSettings" type="WebMonitor.Configuration.MonitorSettings, WebMonitor" />
  </configSections>
  <MonitorSettings uri="https://www.github.com" statusCode="200" contains="Explore GitHub" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
